@import url('https://fonts.googleapis.com/css2?family=Caveat&family=Cormorant+Garamond:wght@300&family=Nunito+Sans:opsz@6..12&display=swap');

@font-face {
  font-family: 'Alexandra Script';
  src: url('../../public/fonts/Alexandra_Script.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}
.mainContainer {
  position: fixed;
  top: 0;
  display: flex;
  width: 100%;
  height: 120px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #dad7d71d;
  opacity: 0.9;
  z-index: 100;
}
.mainContainerScrolled {
  position: fixed;
  top: 0;
  display: flex;
  width: 100%;
  height: 120px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #d8d5d5df;
  opacity: 0.9;
  z-index: 50;
  transition: 0.5s ease-in-out;

}
.mainWrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  background-color: transparent;
}

.topHeaderWrapper {
  display: flex;
  justify-content: right;
  align-items: center;
  width: 100%;
  background-color: transparent;
}
.titleContainer {
  display: flex;
  width: auto;
  justify-content: left;
  width: 100%;
  z-index: 50;
  font-family: 'Nunito Sans', sans-serif;
  background-color: transparent;
}
.titleWrapper {
  display: flex;
  flex-direction: column;
  width: 100%;
  margin-left: 100px;
  background-color: transparent;
}
.titleName {
  display: flex;
  justify-content: left;
  width: 6em;
  color: #020202;
  font-size: 45px;
  font-family: 'Cormorant Garamond', serif;
  background-color: transparent;
}
.titleSubName {
  display: flex;
  font-size: 14px;
  justify-content: left;
  color: #020202;
  transform: translate(0, -10px);
  background-color: transparent;
  font-family: 'Cormorant Garamond', serif;
  font-size: 18px;

}
.contactsTel{
  font-size: 14px;
  width: 150px;

}
.menuContainer {
  display: flex;
  width: 60%;
  background-color: transparent;
  z-index: 50;
}
.titleNameAlwaysBlack {
  display: flex;
  flex-direction: column;
  width: 170px;
  /* color: #da5801; */
  color: rgb(53, 54, 55);
  font-size: 40px;
  font-weight: 500;
  font-family: 'Cormorant Garamond', serif;
}
.deployedMenuContainerMobile {
  display: none;
}
.contactsContainer{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  background-color: transparent;
  color:#100f0f;
}
.contactsWrapper{
  display: flex;
  align-items: center;
  gap:10px;
  background-color: #161616;
  border-radius: 4px;
  padding: 10px;
  color: #fff;
  font-size: 14px;
  margin-right: 20px;
}

.verticalDivider{
  width: 10px;
  height: 100%;
  background-color: #100f0f;
  color:#020202
}

@media (max-width: 820px) {
  .mainContainer {
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    left: 0%;
    top: 0%;
    display: flex;
    width: 100%;
    height: auto;
    background-color: #f1f1f124;
    padding:5px;
  }
  .mainContainerScrolled{
    height: 80px;
  }
  .mainWrapper {
    display: flex;
    justify-content: space-between;
    margin: 0 20px;
    width: 100%;
    background-color: transparent;
  }
  .menuContainer {
    display: none;
  }

  .titleWrapper {
    margin-left: 0px;
  }
  .titleName {
    display: flex;
    flex-direction: column;
    width: 170px;
    /* color: #da5801; */
    color: #020202;
    font-size: 40px;
    font-weight: 500;
    font-family: 'Cormorant Garamond', serif;
    background-color: transparent;
  }
  .contactsTelIcon{
    font-size: 10px;
  }
  .contactsTel{
    width: auto;
    font-size: 10px;
  }
.contactsContainer{
  display: flex;
  flex-direction: row;
  justify-content: right;
  gap: 10px;
}
  .deployedMenuContainer {
    display: none;
  }

  .deployedMenuContainerMobile {
    display: flex;
    justify-content: right;
    align-items: baseline;
    z-index: 150;
    background-color: transparent;
  }
  .deployedMobMenuContainer {
    position: absolute;
    top: 55px;
    right: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 200px;
    height: 200px;
    background-color: #020202;
    color: #fff;
    z-index: 100;
    font-family: 'Nunito Sans', sans-serif;
  }
  .mobMenuItem {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    font-family: 'Cormorant Garamond', serif;
    background-color: #161515;
    border-bottom: 1px solid #5f5e5e;
    font-family: 'Nunito Sans', sans-serif;
    font-weight: lighter;
    font-size: 12px;
  }
  .mobMenuItem:hover {
    background-color: #b3b1b1;
  }
  .activeMobMenuItem {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    font-family: 'Cormorant Garamond', serif;
    color: rgb(220, 219, 218);
    border-bottom: 1px solid #5f5e5e;
    background-color: #4f4e4e;
  }
}

@media (max-width: 430px) {

  .mainContainerScrolled{
    height: 60px;
  }
 
  .contactsTel{
    display: none;
  }
  .contactsTelIcon{
    font-size: 10px;
    padding: 0px;
  }
  .titleName {
    font-size: 25px;
  }
}
@media (max-width: 850px) and (min-height: 390px) and (orientation: landscape) {
  .mainContainer {
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    left: 0%;
    top: 0%;
    display: flex;
    width: 100%;
    height: auto;
    background-color: #f1f1f124;
    padding:5px;

  }
  .mainWrapper {
    display: flex;
    justify-content: space-between;
    margin: 0 20px;
    width: 100%;
    background-color: transparent;
  }
  .menuContainer {
    display: none;
  }

  .titleWrapper {
    margin-left: 0px;
  }
  .titleName {
    display: flex;
    flex-direction: column;
    width: 170px;
    /* color: #da5801; */
    color: #020202;
    font-size: 40px;
    font-weight: 500;
    font-family: 'Cormorant Garamond', serif;
    background-color: transparent;
  }
  .contactsTelIcon{
    font-size: 10px;
  }
  .contactsTel{
    width: auto;
    font-size: 10px;
  }
.contactsContainer{
  display: flex;
  flex-direction: row;
  justify-content: right;
  gap: 10px;
}
  .deployedMenuContainer {
    display: none;
  }

  .deployedMenuContainerMobile {
    display: flex;
    justify-content: right;
    align-items: baseline;
    z-index: 150;
    background-color: transparent;
  }
  .deployedMobMenuContainer {
    position: absolute;
    top: 55px;
    right: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 200px;
    height: 200px;
    background-color: #020202;
    color: #fff;
    z-index: 100;
    font-family: 'Nunito Sans', sans-serif;
  }
  .mobMenuItem {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    font-family: 'Cormorant Garamond', serif;
    background-color: #161515;
    border-bottom: 1px solid #5f5e5e;
    font-family: 'Nunito Sans', sans-serif;
    font-weight: lighter;
    font-size: 12px;
  }
  .mobMenuItem:hover {
    background-color: #b3b1b1;
  }
  .activeMobMenuItem {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    font-family: 'Cormorant Garamond', serif;
    color: rgb(220, 219, 218);
    border-bottom: 1px solid #5f5e5e;
    background-color: #4f4e4e;
  }
}