.mainContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  min-height: 100vh;
  height: auto;
  background-color: #fff;
}
.header {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-around;
  text-align: center;
  height: 700px;
  width: 100%;
  margin-bottom: 100px;
}
.videoHeader {
  width: 100%;
height: 100%;
}
.layer {
  position: absolute;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #4a280080;
  width: 50%;
  height: 100%;
}
.header img {
  height: auto;
}
.headerTitle {
  width: 100%;
  height: auto;
  margin-bottom: 100px;
  color: #fff;
}
.headerTitle h1 {
  font-size: 60px;

  font-weight: 600;
}
.headerTitle h2 {
  font-size: 30px;
  font-weight: 600;
}
.headerTitle h3 {
  margin-top: 20px;
  font-size: 18px;
  font-weight: 300;
}
.headerDescription {
  display: flex;
  flex-direction: column;
  justify-content: left;
  align-items: left;
  text-align: left;
  color: #fff;
  font-size: 22px;
  gap: 15px;
}
.headerDescriptionItem {
  display: flex;
  align-items: center;
  gap: 10px;
}
.discountContainer{
  display: flex;
  justify-content: space-around;
  align-items: center;
  width:60%;
  height: 120px;
  margin-top: 60px;
  background-color: #db8419d4;
  color: #dedbdb;
  z-index: 20;
}
.discountContainerNumber{
 font-size: 80px;
}
.discountContainerDescription{
  display: flex;
  flex-direction: column;
  align-items: start;
  font-size: 28px;
}
.showFormButton {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 30%;
  height: 80px;
  background-color: #43413f;
  color: #fff;
  font-size: 20px;
  margin-bottom: 20px;
}
.headerAdress {
  position: absolute;
  display: flex;
  align-items: center;
  gap: 10px;
  bottom: 200px;
  color: #fff;
  font-weight: 200;
}
.headerButton {
  position: absolute;
  bottom: 100px;
  color: #fff;
  font-weight: 200;
}
.ourMassagesContainer {
  display: flex;
  margin-top: 0px;
}
.ourMassagesTitle {
  display: flex;
  justify-content: center;
  width: 100%;
  font-size: 30px;
  font-weight: 300;
}
.formContainer {
  display: flex;
  width: 40%;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 10px;
  padding: 30px 10px;
  border-radius: 5px;
  background-color: #edebea;
  z-index: 20;
}
.formContainer h2 {
  font-size: 30px;
  font-weight: 500;
  color: #272626;
  margin-bottom: 10px;
}
.label {
  display: flex;
  justify-content: start;
  width: 90%;
}
.input {
  width: 90%;
  height: 40px;
  border-radius: 5px;
  border: none;
  padding: 25px 10px;
  font-size: 20px;
  font-weight: 300;
  color: #000;
  margin-bottom: 10px;
  background-color: #faf9f9;
  outline: none;
}
.input::placeholder {
  color: #2b2727;
}
.formButton {
  width: 90%;
  border-radius: 5px;
  border: none;
  padding: 10px 10px;
  font-size: 20px;
  font-weight: 300;
  color: #fff;
  margin-top: 10px;
  background-color: #703f02;
}
.formButton:active {
  background-color: #7f4908;
}
.formSentText {
  position: absolute;
  bottom: -180px;
  display: flex;
  width: 90%;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 10px;

  padding: 30px 10px;
  border-radius: 5px;
  background-color: #456e07b4;
  color: #fff;
}
.hook {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  height: auto;
  padding: 0px;
  margin-bottom: 0px;
  margin-top: 20px;
}
.hookTitle {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  width: 100%;
  font-size: 30px;
  font-weight: 300;
  margin-top: 10px;
  margin-bottom: 10px;
  color: #000;
}
.hookParagraph {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: left;
  width: 70%;
  font-size: 20px;
  font-weight: 300;
  margin-bottom: 30px;
  margin-top: 30px;
  padding: 20px 20px 20px 30px;
  color: #000;
  background-color: #f4f6f8;
}
.hookParagraph li {
  display: flex;
  align-items: center;
  gap: 10px;
  margin-right: 30px;
}
.hook img {
  width: 50%;
  border-radius: 5px;
}

.sectionTitle {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 30px;
  width: 100%;
  font-size: 27px;
  font-weight: 300;
  margin-bottom: 30px;
}

.titleTextWrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.titleTextWrapper h3 {
  font-size: 15px;
  font-weight: 300;
}
.faceMassageImageWrapper img {
  width: 300px;
  height: auto;
  border-radius: 10px;
}

.massageItemContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 5px;
  width: 100%;
  height: auto;
}

.massageItem {
  display: flex;
  justify-content: start;
  align-items: center;
  gap: 10px;
  padding-left: 10px;
  width: 85%;
  height: 40px;
  background-color: #3030305b;
  color: #000;
  font-size: 18px;
  border-radius: 4px;
}
.massageItem2Color {
  display: flex;
  justify-content: start;
  align-items: center;
  gap: 10px;
  padding-left: 10px;
  width: 85%;
  height: 40px;
  color: #030303;
  font-size: 18px;
  border-radius: 4px;
}
.massageItemNumber {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background-color: #30271cb4;
  color: #fff;
  font-size: 20px;
}
.massageItemNumber2Color {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background-color: #30271cb4;
  color: #dac7bf;
  font-size: 20px;
}
.massageItemDescription {
  display: flex;
  flex-direction: column;
  justify-content: right;
  align-items: center;
  width: 70%;
  font-size: 20px;
  font-weight: 300;
  margin-bottom: 10px;
  color: #000;
  background-color: #99b8f2;
}
.titleLimfoTextWrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  font-size: 22px;
  font-weight: 300;
  margin-bottom: 10px;
  color: #000;
}
.titleLimfoTextWrapper h3 {
  font-size: 15px;
  font-weight: 300;
}
.priceContainer {
  display: flex;
  justify-content: end;
  align-items: center;
  gap: 10px;
  padding-left: 10px;
  width: 90%;
  color: #000;
  font-size: 18px;
  margin-top: 40px;
}

.beforeAndAfterContainer {
  display: none;
}
.beforeAndAfterTitle {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  font-size: 30px;
  font-weight: 300;
  margin-bottom: 30px;
  margin-top: 30px;
  color: #000;
}
.locationSection {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  height: auto;
  margin-top: 40px;
}
.adressContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  gap: 10px;
  padding-left: 10px;
  width: 100%;
  height: auto;
  margin-bottom: 20px;
  margin-top: 10px;
  overflow: hidden;
}
.mapWrapper {
  width: 99%;
  height: 99%;
  border-radius: 5px;
  overflow: hidden;
}
.mastersSection {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  margin-bottom: 50px;
  margin-top: 50px;
}
.mastersContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  gap: 10px;
  padding: 0 10px;
  width: 50%;
  height: auto;
}
.salonPhotosContainer {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 10px;
  padding: 10px;
  width: 100%;
  height: auto;
  margin-bottom: 20px;
  margin-top: 20px;
  overflow: hidden;
}
.salonPhotosContainer img {
  width: auto;
  height: 500px;
  border-radius: 10px;
}
@media (max-width: 830px) {
  .header img {
    width: 400px;
    height: auto;
  }
  .layer {
    position: absolute;
    display: flex;
    flex-direction: column;

    justify-content: center;
    background-color: #4a280080;
    width: 100%;
    height: 100%;
    left: 0;
  }
  .headerTitle {
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
    width: 50%;
    height: auto;
    margin-bottom: 100px;
    margin-left: 30px;
    color: #fff;
  }
  .headerTitle h2 {
    display: flex;
    justify-content: start;
    align-items: center;
    font-size: 20px;
    font-weight: 300;
  }
  .headerTitle h3 {
    text-align: center;
    margin-top: 20px;
    font-size: 18px;
    font-weight: 300;
  }
  .headerAdress {
    position: absolute;
    display: flex;
    align-items: center;
    gap: 10px;
    bottom: 150px;
    color: #fff;
    font-weight: 200;
    margin-left: 130px;
  }
  .formContainer {
    display: flex;
    width: 50%;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 10px;
    padding: 30px 10px;
    border-radius: 5px;
    background-color: #edebea;
    z-index: 20;
  }
  .formContainer h2{
    color:#242323
  }
  .salonPhotosContainer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    gap: 5px;
    padding: 10px;
    width: 100%;
    height: auto;
    margin-bottom: 20px;
    margin-top: 20px;
    overflow: hidden;
  }
  .salonPhotosContainer img {
    width: 49%;
  }
}
@media (max-width: 430px) {
  .mainContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: auto;
    width: 100%;
  }
  .header {
    /* position: relative; */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    height: auto;
    width: 100%;
    margin-bottom: 40px;
    /* margin-bottom: 210px; */
    /* background-color: #b24e15; */
  }
  .layer {
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: start;
    /* background-color: #4a2700a5; */
    background: linear-gradient(#222120bc, #3a3735c9, #3635346a);
    /* background: linear-gradient( #0d0d0e,#516873d4, #dd85119e ); */

    width: 100%;
    height: 100%;
    z-index: 20;
    /* background: linear-gradient(#beaee056, #93a9f8); */
  }
  .header img {
    width: 100%;
    height: auto;
  }
  .header video {
    width: 100%;
  }
  .brandLabel {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: auto;
    margin-top: 20px;
    font-size: 20px;
    font-weight: lighter;
    color:#fff
  }
  .headerTitle {
    /* position: absolute; */
    width: 70%;
    height: auto;
    margin-top: 40px;
    color: #fff;
    margin-left: 0;
    border-left-width: 2px;
    border-left-color: #fff;
  }
  .headerTitle h1 {
    font-size: 50px;
    font-weight: 600;
    letter-spacing: 5px;
    color: #fff;
  }
  .headerTitle h2 {
    font-size: 30px;
    font-weight: 600;
    letter-spacing: 11px;
  }
  .headerTitle h3 {
    font-size: 25px;
    font-weight: 300;
    margin-left: 0;
    letter-spacing: 11px;

  }
  .headerDescription {
    display: flex;
    flex-direction: column;
    justify-content: left;
    align-items: left;
    text-align: left;
    color: #fff;
    font-size: 22px;
    gap: 15px;
  }
  .headerDescriptionItem {
    display: flex;
    align-items: center;
    gap: 10px;
  }
  .discountContainer{
    display: flex;
    justify-content: space-around;
    align-items: center;
    width:100%;
    height: 120px;
    margin-top: 30px;
    background-color: #db8419d4;
    color: #dedbdb;
    z-index: 20;
  }
  .discountContainerNumber{
   font-size: 80px;
  }
  .discountContainerDescription{
    display: flex;
    flex-direction: column;
    align-items: start;
    font-size: 28px;
  }

  .headerAdress {
    position: absolute;
    display: flex;
    align-items: center;
    gap: 10px;
    bottom: 10px;
    color: #fff;
    font-weight: 200;
    margin-left: 0;
  }

  .showFormButton {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 80%;
    height: 80px;
    background-color: #43413f;
    color: #fff;
    font-size: 20px;
    margin-bottom: 20px;
  }

  .formContainer {
    display: flex;
    width: 95%;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 10px;
    padding: 30px 10px;
    border-radius: 5px;
    background-color: #edebea;
    z-index: 20;
  }
  .formContainer h2 {
    font-size: 30px;
    font-weight: 500;
    color: #4a4b4b;
    margin-bottom: 10px;
  }
  .label {
    display: flex;
    justify-content: start;
    width: 90%;
  }
  .input {
    width: 98%;
    height: 40px;
    border-radius: 5px;
    border: none;
    padding: 25px 10px;
    font-size: 20px;
    font-weight: 300;
    color: #000;
    margin-bottom: 10px;
    background-color: #faf9f9;
    outline: none;
  }
  .input::placeholder {
    color: #2b2727; /* Set your desired color */
  }
  .formButton {
    width: 90%;
    border-radius: 5px;
    border: none;
    padding: 10px 10px;
    font-size: 20px;
    font-weight: 300;
    color: #fff;
    margin-top: 10px;
    background-color: #ec9020;
  }
  .formButton:active {
    background-color: #7f4908;
  }
  .formSentText {
    position: static;
    display: flex;
    width: 90%;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 10px;
    padding: 30px 10px;
    border-radius: 5px;
    background-color: #456e07b4;
    /* transform: translate(0px, -150px); */
    color: #fff;
  }
  .hook {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: auto;
    padding: 0px;
    margin-bottom: 0px;
    margin-top: 30px;
  }
  .hookTitle {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 100%;
    font-size: 30px;
    font-weight: 300;
    margin-top: 10px;
    margin-bottom: 10px;
    color: #000;
  }

  .hookParagraph {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: left;
    width: 100%;
    font-size: 20px;
    font-weight: 300;
    margin-bottom: 30px;
    margin-top: 30px;
    padding: 20px 20px 20px 30px;
    color: #000;
    background-color: #f4f6f8;
  }
  .hook img {
    width: 95%;
    border-radius: 5px;
  }
  .videoWrapper {
    display: flex;
    justify-content: center;
    width: 95%;
    border-radius: 5px;
  }

  .beforeAndAfterContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 98%;
    height: 300px;
    padding: 0px;
    margin-bottom: 20px;
    margin-top: 20px;
    overflow: hidden;
  }
  .beforeAndAfterTitle {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    font-size: 30px;
    font-weight: 300;
    margin-bottom: 30px;
    margin-top: 30px;
    color: #000;
  }

  .salonPhotosContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    padding: 10px;
    width: 100%;
    height: auto;
    margin-bottom: 20px;
    margin-top: 20px;
    overflow: hidden;
  }
  .salonPhotosContainer img {
    width: 100%;
    height: auto;
    border-radius: 10px;
  }
  .mastersSection {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    margin-bottom: 40px;
    margin-top: 20px;
  }
  .mastersContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    gap: 10px;
    padding: 0 10px;
    width: 100%;
    height: auto;
  }
  .locationSection {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: auto;
    margin-top: 40px;
  }
  .adressContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    gap: 10px;
    padding-left: 10px;
    width: 100%;
    height: auto;
    margin-bottom: 20px;
    margin-top: 10px;
    overflow: hidden;
  }
  .mapWrapper {
    width: 99%;
    height: 99%;
    border-radius: 5px;
    overflow: hidden;
  }
}
