@import url('https://fonts.googleapis.com/css2?family=Caveat&family=Cormorant+Garamond:wght@300&family=Nunito+Sans:opsz@6..12&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Caveat&family=Cormorant+Garamond:ital,wght@0,300;1,300&family=Nunito+Sans:opsz@6..12&display=swap');

.mainContainer {
  display: flex;
  justify-content: center;
  flex-direction: column;
  width: 100%;
  height: auto;
  margin-top: 100px;
  background-color: transparent;
}
.sectionTitle {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100px;
  margin-top: 50px;
  margin-bottom: 70px;
  background-color: #fff;
  font-family: 'Nunito', sans-serif;
  font-weight: lighter;
  font-size: 40px;
  color: #242424;
}
.innerContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  height: auto;
}
.courseTitleContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100px;
  margin-top: 30px;
  margin-bottom: 30px;
  background-color: #fff;
  font-family: 'Nunito', sans-serif;
  font-weight: lighter;
  font-size: 40px;
  color: #242424;
}

.layer {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #171717a0;
  z-index: 0;
}
.courseContainerWrapper {
  display: flex;
  justify-content: space-around;
  align-items: center;
  gap: 20px;
  width: 100%;
  height: 100%;
  background-color: transparent;
}
.courseContainer {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  text-align: center;
  align-items: center;
  width: 40%;
  height: 650px;
  padding: 0 30px;
  border: 1px solid #151515;
  border-radius: 4px;
  /* background-image: url('/photos/massage-neck.jpg'); */
  background-size: cover;
  z-index: 1;
}
.backgroundImage {
  position: absolute;
  width: 100%;
  height: 100%;
}
.backgroundImage img {
  background-size: cover;
  width: 100%;
  height: 100%;
}
.bodyWrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  height: 70%;
  z-index: 30;
  background-color: transparent;
}
.orderWrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  z-index: 30;
  height: 30%;
  background-color: transparent;
}
.courseTitle {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 80%;
  height: auto;
  background-color: transparent;
  font-family: 'Nunito', sans-serif;
  font-weight: 400;
  font-size: 20px;
  margin-top: 50px;
  color: #fff;
  z-index: 10;
}
.faceMassageDescriptionWrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  background-color: transparent;
  font-family: 'Nunito', sans-serif;
  font-weight: 400;
  font-size: 20px;
  color: #242424;
}
.courseSubTitleOne {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  width: 80%;
  height: auto;
  margin-bottom: 20px;
  background-color: transparent;
  font-family: 'Nunito', sans-serif;
  font-weight: 200;
  font-size: 14px;
  color: #fff;
  z-index: 10;
}
.courseSubTitle {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  width: 80%;
  height: auto;
  margin-bottom: 40px;
  background-color: transparent;
  font-family: 'Nunito', sans-serif;
  font-weight: 200;
  font-size: 16px;
  color: #eea03a;
  z-index: 10;
}
.courseSubjectsList {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: auto;
  margin-bottom: 20px;
  background-color: transparent;
  font-family: 'Nunito', sans-serif;
  font-weight: 200;
  font-size: 16px;
  color: #fff;
  z-index: 10;
}
.courseSubjectsList li {
  display: flex;
  gap: 20px;
  justify-content: left;
  align-items: center;
  text-align: left;
  margin-bottom: 10px;
}
.starIcon {
  color: #eea03a;
}
.courseComment {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: start;
  width: 100%;
  height: auto;
  background-color: transparent;
  font-family: 'Nunito', sans-serif;
  font-weight: 200;
  font-size: 14px;
  color: #eea03a;
  z-index: 10;
}
.coursePriceContainer {
  width: 100%;
  height: 20px;
  color: #fff;
  z-index: 30;
  font-weight: lighter;
}
.courseConditionsDescription {
  display: flex;
  justify-content: space-around;
  align-items: center;
  gap: 30px;
  width: 95%;
  height: 150px;
  margin-top: 80px;
  background-color: transparent;
}
.faceMassageImage {
  display: flex;
  width: 400px;
  height: 100%;
}
.courseConditionsDescriptionItem {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 100%;
  border: 1px solid #7c4306c5;
  color: #000;
  padding: 10px 0px;
  border-radius: 4px;
}
.courseConditionsDescriptionItemHalfWrapper {
  display: none;
}

.courseConditionsDescriptionItemHalf {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 100%;
  border: 1px solid #7c4306c5;
  color: #000;
  padding: 10px 0px;
  border-radius: 4px;
}

.courseConditionsDescriptionItemValue {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-size: 16px;
  height: 50%;
}
.courseConditionsDescriptionItemImage {
  display: flex;
  align-items: center;
  font-size: 60px;
  height: 50%;
  padding: 5px 0;
  border-radius: 4px;
  color: #7c4306c5;
}
.sectionInstructor {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: auto;
  background-color: #fff;
  margin-bottom: 40px;
}
.instructorContainer {
  display: flex;
  justify-content: center;
  gap: 150px;
  width: 100%;
  height: 100%;
}
.instructorImage {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 30%;
  height: auto;
  border-radius: 4px;
  background-color: #e9e9e9;
}
.instructorImage img {
  border-radius: 4px;
  width: auto;
  height: 100%;
  transform: translate(50px, 40px);
}
.instructorDescriptionShadow {
  width: 30%;
  height: 100%;
  background-color: #e9e9e9;
  border-radius: 4px;
}
.instructorDescription {
  position: relative;
  width: 100%;
  height: 100%;
  padding: 25px;
  background-image: url('/photos/massage-stomac.jpg');
  background-size: cover;
  font-family: 'Cormorant Garamond', serif;
  border-radius: 4px;
  color: #f6f4f4;
  z-index: 10;
  transform: translate(-50px, 40px);
}
.layerInstructor {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #1d1d1da0;
  backdrop-filter: blur(10px);
  z-index: 0;
  border-radius: 4px;
}
.instructorName {
  position: relative;
  display: flex;
  justify-content: center;
  font-size: 25px;
  z-index: 30;
}

.instructorInfo {
  display: flex;
  justify-content: center;
  flex-direction: column;
  font-size: 18px;
  position: relative;
  z-index: 30;
  margin-bottom: 20px;
}
.orderButtonContainerInstr{
  display: none
}
.instructorText {
  position: relative;
  display: flex;
  text-align: center;
  z-index: 30;
}
.orderButtonContainer {
  bottom: 20px;
  z-index: 40;
}
.divider{
  height: 1px;
  width: 95%;
  background-color: #fff;
  margin-top: 10px;
  margin-bottom: 10px;
}
@media (max-width: 850px) {
  .courseContainer {
    width: 100%;
  }
  .orderWrapper {
    height: auto;
    margin-bottom: 20px;
  }
  .divider{
    height: 1px;
    width: 95%;
    background-color: #fff;
    margin-top: 10px;
    margin-bottom: 10px;
  }
}

@media (max-width: 830px) {
  .courseContainerWrapper {
    flex-direction: column;
    gap: 20px;
  }
  .courseContainer {
    width: 70%;
  }
  .courseConditionsDescription {
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 30px;
    width: 95%;
    height: 150px;
    margin-top: 0px;
    background-color: transparent;
  }
  .instructorContainer {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 50px;
    width: 100%;
    height: 100%;
    padding: 0 20px;
  }
  .instructorImage img {
    width: 100%;
    transform: translate(0px, 0px);
  }
  .instructorDescription {
    font-size: 20;
    transform: translate(0px, 0px);
  }
  .instructorInfo{
    flex-direction: column;
    font-size: 18px;
  }
  .orderButtonContainerInstr{
    display: flex;
    width: 100%;
    margin-top: 40px;
    justify-content: center;
    align-items: center;
  }
  .instructorImage {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50%;
    height: auto;
    border-radius: 4px;
    background-color: #e9e9e9;
  }
  .instructorDescriptionShadow {
    width: 50%;
  }
  .orderWrapper {
    height: 30%;
    margin-bottom: 20px;
  }
  .courseSubjectsList {
    margin-bottom: 20px;
  }
  .divider{
    height: 1px;
    width: 95%;
    background-color: #fff;
    margin-top: 10px;
    margin-bottom: 10px;
  }
}
@media (max-width: 430px) {
  .mainContainer {
    margin-top: 0px;
  }
  .sectionTitle {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100px;
    margin-top: 20px;
    margin-bottom: 20px;
    background-color: #fff;
    font-family: 'Nunito', sans-serif;
    font-weight: lighter;
    font-size: 35px;
    color: #242424;
  }
  .courseTitleContainer {
    margin-top: 30px;
    margin-bottom: 30px;
    font-size: 35px;
  }
  .courseContainer {
    width: 100%;
    height: auto;
  }
  .courseConditionsDescription {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    gap: 30px;
    width: 95%;
    height: auto;
    margin-top: 50px;
    background-color: transparent;
  }
  .courseConditionsDescriptionItem {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 100%;
    border: 1px solid #7c4306c5;
    color: #000;
    padding: 10px 0px;
    border-radius: 4px;
    background-color: #fff;
  }
  .courseConditionsDescriptionItemHalf {
    width: 50%;
    background-color: #fff;
  }
  .courseConditionsDescriptionItemHalfWrapper {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    gap: 10px;
  }
  .sectionInstructor {
    margin-bottom: 0px;
  }
  .instructorName{
    margin-bottom: 20px;
  }
  .instructorContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 50px;
    width: 100%;
    height: 100%;
    padding: 0 20px;
  }
  .instructorImage img {
    width: 100%;
    transform: translate(0px, 0px);
  }
  .instructorDescription {
    font-size: 20;
    transform: translate(0px, -50px);
  }
  .instructorDescriptionShadow {
    background-color: transparent;
    height: auto;
  }

  .instructorImage {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: auto;
    border-radius: 4px;
    background-color: #e9e9e9;
  }
  .instructorDescriptionShadow {
    width: 100%;
  }
  .instructorInfo{
    flex-direction: column;
    font-size: 18px;
  }
  .orderWrapper {
    height: auto;
    margin-top: 20px;
    margin-bottom: 20px;
  }
  .divider{
    height: 1px;
    width: 95%;
    background-color: #fff;
    margin-top: 10px;
    margin-bottom: 10px;
  }
  .orderButtonContainerInstr{
    display: flex;
    width: 100%;
    margin-top: 40px;
    justify-content: center;
    align-items: center;
  }
}
