.mainContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: auto;
  background-color: #fff;
  overflow: hidden;
}

.sectionSlider {
  margin-top: 120px;
  width: 100%;
  height: auto;
  overflow: hidden;
}

.sectionContact {
  display: flex;
  justify-content: center;
  width: 100%;
  background-color: #edebeb;
  overflow: hidden;
}
.sectionMassage {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  height: auto;
  background-color: #fff;
  overflow: hidden;
  margin: 80px 0 30px 0;
}
.sectionTitle {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 30%;
  height: auto;
  background-color: #fff;
  font-family: 'Nunito Sans', sans-serif;
  color: #080808;
  font-size: 60px;
  font-weight: 600;
  overflow: hidden;
}
.sectionTitleManicure {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 30%;
  height: auto;
  background-color: #fff;
  font-family: 'Nunito Sans', sans-serif;
  color: #080808;
  font-size: 60px;
  font-weight: 600;
  overflow: hidden;
}
.sectionContentContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 0px;
  width: 95%;
  height: auto;
  background-color: #fff;
  overflow: hidden;
}
.contentWrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: auto;
  background-color: #fff;
  overflow: hidden;
}
.manicureContentWrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: auto;
  background-color: #fff;
  overflow: hidden;
}
.layer {
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: #212121ab;
  background: linear-gradient(
    to left,
    rgba(0, 0, 0, 0.8) 30%,
    rgba(0, 0, 0, 0.6) 50%,
    rgba(0, 0, 0, 0.1) 100%
  );
}
.sectionPhotoContainer {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 30px;
  width: auto;
  height: 400px;
  background-color: #fff;
  overflow: hidden;
}
.sectionPhotoContainer img {
  width: 250px;
  height: 350px;
  object-fit: cover;
  border-radius: 4px;
}
.imageWrapper {
  position: relative;
}

.imageTitle {
  position: absolute;
  text-align: center;
  color: #fff;
  background-color: #000;
  width: 100%;
  border-radius: 4px 4px 0 0;
  font-size: 16px;
  font-family: 'Nunito Sans', sans-serif;
  font-weight: lighter;
}
.imageTitleManicure {
  position: absolute;
  text-align: center;
  color: #fff;
  width: 100%;
  background-color: #eb09b391;
  border-radius: 4px 0 4px 0;
}
.massageButtonContainer {
  display: flex;
  justify-content: left;
  align-items: center;
  width: 100%;
  height: auto;
  background-color: transparent;
  overflow: hidden;
}
.massageButtonContainerExtention {
  width: 30%;
}
.manicureButtonContainer {
  display: flex;
  justify-content: right;
  align-items: center;
  width: 100%;
  height: auto;
  background-color: transparent;
  overflow: hidden;
}
.sectionManicure {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: auto;
  background-color: #fff;
  overflow: hidden;
  margin: 0 0 80px 0;
}

.sectionBenefits {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 90%;
  height: auto;
  background-color: transparent;
  margin: 40px 0 40px 0;
}
.benefitsContainer {
  display: flex;
  justify-content: space-around;
  align-items: baseline;
  gap: 40px;
  width: 100%;
  height: auto;
  background-color: transparent;
  overflow: hidden;
}
.benefitItem {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: auto;
  height: auto;
  background-color: transparent;
  margin-bottom: 10px;
}
.benefitItemText {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 80%;
  height: auto;
  background-color: transparent;
}
.benefitItemTitle {
  font-family: 'Nunito Sans', sans-serif;
  font-size: 18px;
  font-weight: 700;
  color: #703d03;
  margin: 20px 0 10px 0;
}
.benefitItemDescription {
  width: 230px;
  font-family: 'Nunito Sans', sans-serif;
  font-size: 14px;
  font-weight: 400;
  color: #000;
  text-align: center;
}

.benefitItemImage {
  font-size: 80px;
}

.sectionFeedbacks {
  width: 90%;
}

@media (max-width: 820px) {
  .sectionSlider {
    width: 100%;
    margin-top: 70px;
  }
  .sectionContentContainer {
    width: 100%;
    padding: 0 10px;
  }
  .contentWrapper {
    flex-direction: column;
    align-items: center;
    flex-flow: column;
    gap: 30px;
  }
  .manicureContentWrapper {
    flex-direction: column;
    align-items: center;
    gap: 30px;
  }
  .sectionTitleManicure {
    order: 1;
  }
  .sectionPhotoContainer {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;
    width: auto;
    height: 400px;
    background-color: #fff;
    overflow: hidden;
    order: 2;
  }

  .massageButtonContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: auto;
    background-color: transparent;
    overflow: hidden;
  }
  .sectionManicure {
    margin: 40px 0;
  }
  .manicureButtonContainer {
    justify-content: center;
  }
  .massageButtonContainerExtention {
    display: none;
  }
  .benefitsContainer {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: baseline;
    gap: 40px;
    width: 100%;
    height: auto;
    background-color: transparent;
    overflow: hidden;
    margin-bottom: 30px;
  }
}
@media (max-width: 430px) {
  .sectionSlider {
    margin-top: 50px;
  }
  .sectionMassage {
    margin: 30px 0;
  }
  .sectionTitle {
    width: auto;
    font-size: 35px;
  }
  .sectionTitleManicure {
    width: auto;
    font-size: 35px;
  }
  .sectionPhotoContainer {
    flex-direction: column;
    gap: 10px;
  }
  .imageTitle {
    position: absolute;
    text-align: center;
    color: #fff;
    height: auto;
    width: 100%;
    background-color: #000;
    border-radius: 4px 0 4px 0;
    z-index: 20;
  }
  .imageTitleManicure {
    position: absolute;
    text-align: center;
    color: #fff;
    height: auto;
    width: 100%;
    background-color: #eb09b391;
    border-radius: 4px 0 4px 0;
    z-index: 20;
  }
  .imageWrapper {
    width: 100%;
    height: 100px;
    overflow: hidden;
  }
  .imageWrapper img {
    transform: translate(0, -40%);
    object-fit: cover;
  }
  .sectionManicure {
    margin: 40px 0 0 0;
  }

  .sectionBenefits {
    margin: 40px 0 0 0;
  }
  .benefitsContainer {
    margin: 0;
  }
}
@media (max-width: 850px) and (min-height: 390px) and (orientation: landscape) {
  .sectionSlider {
    width: 100%;
  }
  .sectionContentContainer {
    width: 100%;
    padding: 0 10px;
  }
  .contentWrapper {
    flex-direction: column;
    align-items: center;
    flex-flow: column;
    gap: 30px;
  }
  .manicureContentWrapper {
    flex-direction: column;
    align-items: center;
    gap: 30px;
  }
  .sectionTitleManicure {
    order: 1;
  }
  .sectionPhotoContainer {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;
    width: auto;
    height: 400px;
    background-color: #fff;
    overflow: hidden;
    order: 2;
  }

  .massageButtonContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: auto;
    background-color: transparent;
    overflow: hidden;
  }
  .sectionManicure {
    margin: 40px 0;
  }
  .manicureButtonContainer {
    justify-content: center;
  }
  .massageButtonContainerExtention {
    display: none;
  }
  .benefitsContainer {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: baseline;
    gap: 40px;
    width: 100%;
    height: auto;
    background-color: transparent;
    overflow: hidden;
    margin-bottom: 30px;
  }
}
