@import url('https://fonts.googleapis.com/css2?family=Caveat&family=Cormorant+Garamond:wght@300&family=Nunito+Sans:opsz@6..12&display=swap');

.mainContainer{
    display: flex;
    flex-direction: column;
    width:auto;
    height: auto;
    gap:20px;
    height: auto;
    padding: 10px 20px;
    background-color: transparent;
    
}

.orderServiceButton{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    width: 170px;
    height: 50px;
    padding: 20px;
    font-size: 14px;
    font-family: 'Nunito Sans', sans-serif;
    color: #fff;
    background-color:transparent;
    border: 1px solid #fff;
    border-radius: 2px;
    cursor: pointer;
}
.orderServiceButton:hover{
    color: #fff;
    background-color: #ffffff64;
    transition: 0.5s ease-in-out;
}
.learnMoreButton{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    padding: 20px;
    color: #fff;
    background-color:transparent;
    border: 1px solid #fff;
    border-radius: 2px;
    cursor: pointer;
}